* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container-2 {
    width: 100%;
    max-width: 500px;
    background-color: rgb(145, 145, 145);
    color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.texto-2 {
    text-align: center;
    margin-bottom: 25px;
}

.texto-2 h1 {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 700;
}

.texto-2 p {
    font-size: 1.1rem;
    color: #f0f0f0;
}

.formulario-2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formulario-2 input {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 8px;
}

.formulario-2 input::placeholder {
    color: #cccccc; 
}

.formulario-2 button {
    width: 100%;
    margin-top: 10px;
    background-color: rgb(14, 118, 187);
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    transition: 0.3s, background-color 0.3s;
}

.formulario-2 button:hover {
    background-color: rgb(18, 142, 224);
    cursor: pointer;
    transform: scale(1.02);
}